<h1> Dice Game </h1>

<img src="http://jeffcohenonline.com/dice/<%= @numberone %>.png">
<img src="http://jeffcohenonline.com/dice/<%= @numbertwo %>.png">

<% if @fail.include?(@numberone + @numbertwo) %>
<li> You lose! </li>
<h2> <a href="/dice"> Play again! </a> </h2>

<% elsif @target.include?(@numberone + @numbertwo) %>
<li> You win! </li>
<h2> <a href="/dice"> Roll to start the game again! </a></h2>

<% elsif params["point"].to_i == 0 %>
<% params["point"] = @numberone + @numbertwo %>
<li> Your goal is now <%= params["point"] %></li>
<li> Now try to get <%= params["point"] %> before you get 7! </li>
<h2> <a href="/dice/rolling?point=<%= @numberone+@numbertwo %>"> Roll Again! </a> </h2>

<% elsif params["point"].to_i == @numberone+@numbertwo %>
<li> You win! </li>
<h2> <a href="/dice"> Roll to start the game! </a> </h2>

<% else %>
<li> The target is <%= params["point"] %> </li>
<li> You rolled <%= @numberone+@numbertwo %>, try again. </li>
<h2> <a href="/dice/rolling?point=<%= params["point"].to_i %>"> Roll again </a></h2>

	
<% end %>